/* Tablette paysage */
@media only screen and (min-width: 768px) {
}
/* Ecrans */
@media only screen and (min-width: 992px) {
    header.navbar {
        .menu .burger {
            display: none;
        }
        nav {
            display: flex;
            gap: 2rem;

            a {
                display: flex;
                align-items: end;
                gap: 0.2rem;
                font-size: 1.2rem;
                svg {
                    height: 1em;
                }
                &:hover {
                    background: var(--gradient-neon);
                    color: transparent;
                    background-clip: text;
                    -webkit-background-clip: text;
                    svg {
                        stroke: var(--accent-primary);
                    }
                }
            }
        }
    }
    .mobile_menu {
        &.open {
            opacity: 0;
            display: none;
        }
    }
    main {
        padding-inline: 8rem;
        & .banner-btn {
            a {
                padding-inline: 2rem;
                svg {
                    width: 1.2rem;
                    height: 1.2rem;
                }
            }
        }
        .stats {
            .stat {
                width: 20%;
                text-align: center;
                border-right: 1px solid var(--text-secondary);
                &:last-child {
                    border: none;
                }
            }
        }
        & .experience {
            gap: 2rem;
            & .data {
                & p, & li {
                    max-width: 50%;
                }
            }
        }
    } 
    footer {
        & > .container {
            flex-direction: row;
            justify-content: center;
            align-items: center;
            section {
                width: 33%;
                text-align: center;
                & > a.btn-contact {
                    display: inline-flex;
                }
                &:last-child {
                    margin: left;
                    text-align: left;
                }
                & > nav {
                    justify-content: center;
                }
            }
        }
    }
}
/* grand écran */
@media only screen and (min-width: 1200px) {
}